body,
html {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.polygon-draw {
    align-items: center;
    width: auto;
    height: 100vh;
    aspect-ratio: 1/0.6;
}

.inference-plots {
    align-items: center;
    height: 100vh;
    width: 100vw;
}